.song-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 78vh;
  overflow-y: auto;
  margin-top: 10px;
  align-items: flex-start;
}
.song-box{
  background: linear-gradient(to top, black, rgb(39, 39, 39));
  box-shadow: 0 0 10px #7c7b7b;
  border-radius: 20px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 320px;
  height: 110px;
}

.title{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.song-info{
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 5px;
}
.checkbox{
  display: none;
}