.return-btn{
  cursor:pointer;
  display: flex;
  align-items: center;
}

.return-container:hover{
  box-shadow: 0 0 10px #FFF;
}
.return-container{
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  left: 0;
  margin-left: 300px;
}