.profile-edit-page{
  display: flex;
}

.edit-profile-main{
  width: 100%;
}

#img-input{
  position :absolute;
  left: 515px;
  top: 430px;
}
.edit-form-input{
  border: none;
  border-bottom: 1px solid black;
  margin-top: 5px;
  color: rgb(77, 77, 77);
}
.edit-form-input:focus{
  outline: none;
}

.form-view .edit-form-input{
  width: 350px;
}

.label-container{
  margin: 20px 0px;
}
.edit-profile-btn:disabled{
  background-color: rgb(189, 186, 186);
  scale: none;
  cursor: auto;
  border: 2px solid rgb(224, 218, 218);
}

.loading-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

@media screen and (max-width:450px){
  .profile-edit-page{
    flex-direction: column;
  }
  #img-input{
    left: 10px;
    top: 500px;
  }
  .form-view{
    margin-top: 30px;
  }
  .profile-img{
    position: relative;
    left: 37%;
    top: 20px;
  }
  #img-input{
    position: relative;
    top: 10px;
    left: 31%;
    margin-top: 20px;
  }
}