@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.loading{
  color: white;
  font-family: Poppins;
  padding: 20px;
  background-color: black;
  border-radius: 5px;
}