.favorite-page{
  display: flex;
}

.fav-page-main{
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width:450px){
  .favorite-page{
    flex-direction: column;
  }
  .favorite-page>h1{
    font-size: 24px;
  }
}