.login{
  padding: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid white;
  width: 600px;
  box-shadow: 0 0 10px #ffffff;
  color : white;
  background: linear-gradient(to top, black, rgb(39, 39, 39));
}

.form-login{
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 100%;
  margin-top:10px;
}
.form-login > input {
  border: transparent;
  padding: 10px 0 ;
  border-radius: 5px;
  width: 80%;
  background-color: transparent;
  color: white;
  outline: none;
}

.form-login > button{
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 5px;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff;
  font-weight: bold;
  cursor: pointer;
  font-family: Poppins;
}

.form-login > button:disabled{
  font-weight: lighter;
  box-shadow : none;
  background-color: transparent;
  cursor: auto;
  width: 0px;
  padding: 0px;
  font-size: 0px;
}
.form-login > button:hover{
  background-color: white;
  color: black;
}

.login-logo{
  width: 200px;
}